---
import { getAllTags, getBlogs } from "../../library/microcms";
import Layout from "../../layouts/Layout.astro";
import TopMain from "../../components/TopMain.astro";

export async function getStaticPaths() {
  // 全タグを取得
  const allTags = await getAllTags({ fields: ["id", "name"] });
  return allTags.contents.map((tag: any) => ({
    params: { tagId: tag.id },
    props: { tagName: tag.name },
  }));
}

const { tagId } = Astro.params;
const tagName = Astro.props.tagName;
const filteredPosts = await getBlogs({
  filters: `tag[contains]${tagId}`,
  fields: ["id", "title", "eyecatch", "publishedAt", "tag"],
  orders: "-publishDate",
  limit: 100,
});

const blogs = filteredPosts;
---

<Layout title={`${tagName}ブログ一覧`}>
  <h1>{tagName}ブログ一覧</h1>
  <TopMain blogs={blogs} />
</Layout>
