---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const blogs = await getBlogs({ fields: ["id", "title", "eyecatch", "publishedAt", "tag"] });
---

<Layout title="Top">
  <main>
    <Card blogs={blogs} />
  </main>
</Layout>

<style>
  main {
    /* margin: auto;
    padding: 1em;
    max-width: 60ch; */
  }
</style>
