---
import { TagType } from "../library/microcms";
import Tag from "./Tag.astro";
const { blog } = Astro.props;
---

<!-- Card / BlogDetailのタグリスト -->{
  blog.tag && (
    <div class="card__tag">
      {blog.tag.map((item: TagType) => (
        <Tag tag={item} />
      ))}
    </div>
  )
}

<style lang="scss">
  .card__tag {
    display: flex;
    gap: 6px;
  }
</style>
