---
---

<!-- Twitter, Githubアイコン -->
<div class="footer__sns">
  <div class="sns__inner">
    <a href="https://twitter.com/hachi_yoyo" target="_blank" rel="noopener noreferrer"><img src="/assets/icon-twitter.svg" /></a>
    <a href="https://github.com/hachicombu" target="_blank" rel="noopener noreferrer"><img src="/assets/icon-github.svg" /></a>
  </div>
</div>

<style lang="scss">
  .sns__inner {
    display: flex;
    gap: 1rem;

    & img {
      width: 42px;
    }
  }
</style>
