---
const { tag } = Astro.props;
---

<a href={`/tag/${tag.id}`}>
  <span>{tag.name}</span>
</a>

<style lang="scss">
  a,
  .tag-inline {
    border: 1px solid var(--color-border-lightblue);
    color: var(--color-border-lightblue);
    background-color: var(--color-bg-secondary);
    padding: 3px 4px;
    border-radius: 5px;
    font-size: 12px;
    font-family: var(--font-en);
    &::before {
      content: url("/assets/icon-tag.svg");
      margin-right: 1px;
      vertical-align: middle;
    }
  }
</style>
