---
import { TagType, getAllTags } from "../library/microcms";
import Tag from "./Tag.astro";

const allTags = await getAllTags({ fields: ["id", "name"] });
---

<!-- Footer上のタグ一覧 -->
<div class="footer__tag-list">
  <p>Tag</p>
  <div class="tags">
    {allTags.contents.map((tag) => <Tag tag={tag} />)}
  </div>
</div>

<style lang="scss">
  p {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-font-primary);
    font-family: var(--font-en);
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
</style>
