---
import { Tag } from "../library/microcms";
const { blog } = Astro.props;
---

{
  blog.tag && (
    <div>
      {blog.tag.map((item: Tag) => (
        <span>
          <a href={`/tags/${item.id}`}>{item.name}</a>
        </span>
      ))}
    </div>
  )
}
