---
import Card from "./Card.astro";
const { blogs } = Astro.props;
---

<main>
  <div class="main__inner">
    <Card blogs={blogs} />
  </div>
</main>
<style lang="scss">
  main {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    padding: 48px 0;

    @include mq(md) {
      padding: 92px 0;
    }
  }
  .main__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 48px;

    @include mq(sm) {
      grid-template-columns: repeat(2, 1fr);
      gap: 60px 24px;
    }

    @include mq(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
