---
import { getAllTags, getBlogs } from "../../library/microcms";
import Layout from "../../layouts/Layout.astro";
import TopMain from "../../components/TopMain.astro";

export async function getStaticPaths() {
  // 全タグを取得
  const allTags = await getAllTags({ fields: ["id", "name"] });
  return allTags.contents.map((tag: any) => ({
    params: { tagId: tag.id },
    props: { tagName: tag.name },
  }));
}

const { tagId } = Astro.params;
const tagName = Astro.props.tagName;
const filteredPosts = await getBlogs({
  filters: `tag[contains]${tagId}`,
  fields: ["id", "title", "eyecatch", "publishedAt", "tag"],
  orders: "-publishedAt",
  limit: 100,
});

const blogs = filteredPosts;
---

<Layout title={`${tagName}記事一覧`}>
  <h1>{tagName}</h1>
  <TopMain blogs={blogs.contents} />
</Layout>

<style lang="scss">
  h1 {
    font-family: var(--font-en);
    margin: 30px auto 0;
    width: 90%;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    font-weight: 400;
    max-width: 1080px;

    &::before {
      content: url("/assets/icon-tag-h1.svg");
      margin-right: 8px;
      vertical-align: top;
    }
  }
</style>
