---
import TagList from "../components/TagList.astro";
import Sns from "../components/Sns.astro";

interface Props {
  title: string;
  isTop?: boolean;
}

const { title, isTop } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/reset-style.css" />
    <link rel="stylesheet" href="/styles/post-style.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <a href="/">
        {isTop ? <h1>Hachico Log</h1> : <p class="header__logo">Hachico Log</p>}
      </a>
    </header>
    <slot />
    <footer>
      <div class="footer__inner">
        <TagList />
        <Sns />
      </div>
      <p class="footer__copy">
        <small>&copy; 2023 Hachi Web</small>
      </p>
    </footer>
  </body>
</html>
<style lang="scss">
  header {
    display: grid;
    place-items: center;
    background-color: antiquewhite;
    box-shadow: 0 0 6px -2px #777;
  }
  h1,
  .header__logo {
    font-size: 1.6rem;
    padding: 12px 0;
    letter-spacing: 0.08rem;
  }
  footer {
    padding-top: 32px;
  }
  .footer__inner {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .footer__copy {
    margin-top: 48px;
    background: #c9c9d4;
    padding: 24px 0;
    text-align: center;
  }
</style>
