---
// import Footer from "./Footer.astro";
import TagList from "../components/TagList.astro";
import Sns from "../components/Sns.astro";

interface Props {
  title: string;
  isTop?: boolean;
}

const { title, isTop } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/style.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      {isTop ? <h1>Hachico Log</h1> : <p>Hachico Log</p>}
    </header>
    <slot />
    <footer>
      <TagList />
      <Sns />
      <small>&copy; 2023 Hachi Web</small>
    </footer>
  </body>
</html>
<style>
  header {
    display: grid;
    place-items: center;
    background-color: antiquewhite;
  }
  h1,
  p {
    font-size: 1.6rem;
    padding: 12px 0;
    letter-spacing: 0.08rem;
  }
</style>
