---
import TagList from "../components/TagList.astro";
import Sns from "../components/Sns.astro";

interface Props {
  title: string;
  isTop?: boolean;
}

const { title, isTop } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web制作の勉強で新たに知ったこと・学んだことをメモしています" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/webclip.png" />

    <!-- ogp -->
    <meta property="og:site_name" content="Hachico Blog" />
    <meta property="og:url" content="https://hachico-web.net" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Hachico Blog" />
    <meta property="og:description" content="Web制作の勉強で新たに知ったこと・学んだことをメモしています" />
    <meta property="og:image" content="https:/hachico-web.net/ogp.png" />
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Web制作の勉強で新たに知ったこと・学んだことをメモしています" />
    <meta name="twitter:image:src" content="https://hachico-web.net/ogp.png" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet" />
    <!-- css -->
    <link rel="stylesheet" href="/styles/reset-style.css" />
    <link rel="stylesheet" href="/styles/post-style.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div class="header__inner">
        <a href="/">
          {isTop ? <h1>Hachico Blog</h1> : <p class="header__logo">Hachico Blog</p>}
        </a>
      </div>
    </header>
    <slot />
    <footer>
      <div class="footer__inner">
        <TagList />
        <Sns />
      </div>
      <p class="footer__copy">
        <small>&copy; 2023 Hachico Blog</small>
      </p>
    </footer>
  </body>
</html>
<style lang="scss">
  html {
    background: var(--color-bg-secondary);
    color: var(--color-font-primary);
    font-family: var(--font-ja);
  }
  header {
    background-color: var(--color-bg-primary);
    color: var(--color-font-white);
  }
  .header__inner {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    @include mq(sm) {
      margin: 0 30px;
    }
  }
  h1,
  .header__logo {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    font-weight: 400;
    font-family: var(--font-en);
  }
  footer {
    padding-top: 32px;
  }
  .footer__inner {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .footer__copy {
    margin-top: 48px;
    background: var(--color-bg-primary);
    color: var(--color-font-white);
    padding: 20px 0;
    text-align: center;
  }
</style>
